#cp1s{
	height:30px;width:30px;display: inline-block; background-color: green; border-radius: 100%;
}
#cp2s{
	height:30px;width:30px;display: inline-block; background-color: red; border-radius: 100%;

}